<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
/*Palette UID: 14d050kuiiUvNtru4nlwudexs7O*/
<style>
:root {
  --main-color: #06c;
}
.color-morado{
  color: purple;
}
.color-rojo{
  color: red;
}
.nav-background{
  color: red;
}

/*Aplicar esto a todo*/
*{
/*    background-color: ;*/
  }

/*  header, footer{
    background-color: rgba(45,45,45,0.1);
  }*/
#welcome-page{
  background-color: #23202D;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;

}
#nav-list{
  background-color: var(--main-color);
  position: fixed;
  top:0;
  left:0;
  display: flex;
  flex-wrap: wrap;
  width:100vw;

}
.nav-link{
    margin: 10px;
}
#welcome-text{
    color: #16151d;
    font-family: Roboto, monospace;
    text-align: center;
    padding: 15px;
  }
#head-title{
   color: #0c0b0f;
   text-align: center;
   padding: 15px;
  }

  p{
    font-family: Roboto;
  }

  footer{
    text-align: center;
  }
  .imagen-peque{ /*Centrar o acomodar imagen???*/

    width: 100px;
    border-radius: 50%;
  }

  .nav-list{
    height: 5vh;

    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;/*ir a varias filas cuand ya no cabe*/
  }

  /*
  .fondo-gris{
    background-color: rgba(20,20,20,0.3);
    margin: -15px;
  }
  */

  /*Hacer que se agrande el enlace al pasar el cursor por encima*/
  /*
  #enlace{

  }

  a:hover{
    transform: scale(2);
  }
  */


  .fullCard {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
    text-align: center;
  }

.logo{
  height: 50px
}

</style>
