<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
/*Palette UID: 14d050kuiiUvNtru4nlwudexs7O
Palette UID: 14d050kllllaFw0g0qFqFg0w0aF pastel*/
<style>

/*Si no esta esta linea no funciona *{}*/
:root {}
/*
.color-morado{
  color: purple;
}
.color-rojo{
  color: red;
}
.nav-background{
  color: red;
}
*/
/*Aplicar esto a todo*/
*{
    background-color: #625292;
    font-family: Roboto, monospace;
    color:#12073B;
    text-align: center;
  }

/*  header, footer{
    background-color: rgba(45,45,45,0.1);
  }*/
#welcome-page{
  background-color: #403075;
/*  display: flex;*/
  width: 100vw;
  height: 100vh;
/*  align-items: center;*/

}
#nav-bar{
  background-color: #877cb0;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  flex-wrap: wrap;
  width:100vw;
}
.nav-link{
  background-color: inherit;
    margin: 10px;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
}
#welcome-text{
    background-color: inherit;
    font-family: Roboto, monospace;

    padding-top: 50vh;
  }
#head-title{
   background-color: inherit;
   text-align: center;
   padding: 0;
  }

.general-header{
  float:right;
  overflow:auto;
}
.specific-header{
  float:left;
  overflow:auto;
}
main{
  padding-top: 75px;
}
  footer{
    text-align: center;
  }

  .imagen-peque{ /*Centrar o acomodar imagen???*/
    width: 100px;
    border-radius: 50%;
  }
  .logo{
    height: 50px
  }

  .nav-list{
    height: 5vh;

    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;/*ir a varias filas cuand ya no cabe*/
  }


  /*Hacer que se agrande el enlace al pasar el cursor por encima*/
  /*
  #enlace{

  }

  a:hover{
    transform: scale(2);
  }
  */


  .fullCard {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
    text-align: center;
  }



</style>
