<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>


  body{
    color: red;
  }

/*  header, footer{
    background-color: rgba(45,45,45,0.1);
  }*/
#welcome-page{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #243732;

  align-items: center;
}
#nav-list{
  position: fixed;
  top:0;
  left:0;
  display: flex;
  flex-wrap: wrap;

  background-color: #5B6864;
  width:100vw;

}
.nav-link{
    margin: 10px;
}
  h1{
    color: purple;
    font-family: Roboto, monospace;
    text-align: center;
    padding: 15px;
  }
  h2{
   color: purple;
   text-align: center;
   padding: 15px;
  }
  .color-morado{
    color: purple;
  }
  .color-rojo{
    color: red;
  }
  p{
    font-family: Roboto;
  }

  footer{
    text-align: center;
  }
  .imagen-peque{ /*Centrar o acomodar imagen???*/

    width: 100px;
    border-radius: 50%;
  }

  .nav-list{
    height: 5vh;

    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;/*ir a varias filas cuand ya no cabe*/
  }

  /*
  .fondo-gris{
    background-color: rgba(20,20,20,0.3);
    margin: -15px;
  }
  */

  /*Hacer que se agrande el enlace al pasar el cursor por encima*/
  /*
  #enlace{

  }

  a:hover{
    transform: scale(2);
  }
  */


  .fullCard {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
    text-align: center;
  }



</style>
